.each-flight-list-item{
    height: 150px;
    border: 1px solid;
    border-radius: 10px;
    width: 300px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 890px) {
    .each-flight-list-item{
        width: 90%;
    } 
}

.each-flight-list-item img{
    height: 45px;
    width: 60px;
}
.from-place-to-place-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20px;
    color: red;
}

.flight-logo-airline-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flight-logo-airline-container p {
    color: darkslategray;
}

.arrival-date-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20px;
    margin-top: 10px;
    color: red;
}

.price{
    display: flex;
    align-items: center;
    color: chocolate;
}
.arrival-date-container div{
    width: 100%;
    display: flex;
    align-items: center;
    height: 20px;
}
.arrival-date-container div p{
    margin-right: 10px;
}

.book-ticket{
    margin-top: 10px;
    height: 30px;
    width: 90%;
    align-self: center;
    border-radius: 10px;
    background: rgba(0,128,0, 0.75);
    border: 0;
    cursor: pointer;
    outline: none;
    color: #fff;
    font-weight: 600;
}

.book-ticket:hover{
    background: rgba(0,128,0, 1);
}