.main-bg-container{
  display: flex;
  background: #d6d2d2;
  padding: 10px;
  margin: 10px;
  min-height: 200px;
  flex-direction: row;
  align-items: center ;
  border-radius: 25px;
  justify-content: center;
}

.main-bg-container div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-bg-container div ul{
  width: 300px;
  height: 80px;
  overflow-y: auto;
  margin: 10px;
  border-radius: 10px;
  border: 0;
  outline: none;
  padding: 10px;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 20px;
  background: #fff;
  min-height: 100px;
  list-style: none;
}

.main-bg-container div input{
  height: 40px;
  width: 300px;
  margin: 10px;
  border-radius: 10px;
  border: 0;
  outline: none;
  padding: 10px;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 20px;
}

.main-bg-container button{
  width: 100px;
  background: #03fcf4;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  border: 0;
  font-size: 20px;
  padding: 20px;
}

.results-container{
  display: flex;
  flex-direction: column;
}
.results-container h1{
  text-align: center;
}

.results-container ul{
  padding: 10px;
}